.header__burger {
    margin-left: auto;
    width: 30px;
    height: 20px;
    display: none;

    span {
        display: block;
        width: 28px;
        height: 2px;
        border-radius: 5px;
        background-color: #000;
        margin-bottom: 6px;
        transition: 0.5s;
    }
}

.header__burger_span_1 {
    transform: translate(5px, -2px) rotate(45deg);
    transform-origin: left top;
}

.header__burger_span_2 {
    opacity: 0;
}

.header__burger_span_3 {
    transform: translate(-3px, -18px) rotate(-45deg);
    transform-origin: right bottom;
}

@media screen and (max-width: 1000px) {

    .header__burger {
        display: block;
    }
}